<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1 VV</key>
	<real>4.05</real>
	<key>2 VV</key>
	<real>6.66</real>
	<key>3 VV</key>
	<real>9.05</real>
	<key>3 VV + BH</key>
	<real>10.36</real>
	<key>4 VV</key>
	<real>11.03</real>
	<key>4 VV + BH</key>
	<real>12.34</real>
	<key>5 VV</key>
	<real>16.77</real>
	<key>5 VV + BH</key>
	<real>18.15</real>
	<key>6 VV</key>
	<real>16.83</real>
	<key>6 VV + BH</key>
	<real>18.21</real>
	<key>7 VV</key>
	<real>20.61</real>
	<key>7 VV + BH</key>
	<real>22.49</real>
	<key>8 VV</key>
	<real>25.14</real>
	<key>8 VV + BH</key>
	<real>27.02</real>
	<key>9 VV</key>
	<real>16.22</real>
	<key>9 VV + BH</key>
	<real>20.10</real>
	<key>10 VV</key>
	<real>27.80</real>
	<key>10 VV + BH</key>
	<real>29.68</real>
	<key>1 GGZB</key>
	<real>5.70</real>
	<key>1 GGZB + DB</key>
	<real>8.73</real>
	<key>2 GGZB</key>
	<real>10.39</real>
	<key>2 GGZB + DB</key>
	<real>13.15</real>
	<key>3 GGZB</key>
	<real>11.77</real>
	<key>3 GGZB + DB</key>
	<real>14.87</real>
	<key>4 GGZB</key>
	<real>14.25</real>
	<key>4 GGZB + DB</key>
	<real>17.52</real>
	<key>5 GGZB</key>
	<real>15.72</real>
	<key>5 GGZB + DB</key>
	<real>19.05</real>
	<key>6 GGZB</key>
	<real>21.79</real>
	<key>6 GGZB + DB</key>
	<real>25.20</real>
	<key>7 GGZB</key>
	<real>30.62</real>
	<key>7 GGZB + DB</key>
	<real>35.97</real>
	<key>1 GGZC</key>
	<real>4.66</real>
	<key>1 GGZC + DB</key>
	<real>7.69</real>
	<key>2 GGZC</key>
	<real>9.35</real>
	<key>2 GGZC + DB</key>
	<real>12.11</real>
	<key>3 GGZC</key>
	<real>10.73</real>
	<key>3 GGZC + DB</key>
	<real>13.83</real>
	<key>4 GGZC</key>
	<real>13.42</real>
	<key>4 GGZC + DB</key>
	<real>16.69</real>
	<key>5 GGZC</key>
	<real>14.90</real>
	<key>5 GGZC + DB</key>
	<real>18.23</real>
	<key>6 GGZC</key>
	<real>19.59</real>
	<key>6 GGZC + DB</key>
	<real>22.99</real>
	<key>1 VG</key>
	<real>5.93</real>
	<key>1 VG + DB</key>
	<real>11.10</real>
	<key>2 VG</key>
	<real>8.59</real>
	<key>2 VG + DB</key>
	<real>13.76</real>
	<key>3 VG</key>
	<real>10.88</real>
	<key>3 VG + DB</key>
	<real>16.05</real>
	<key>3 VG + BH</key>
	<real>11.60</real>
	<key>3 VG + DB + BH</key>
	<real>16.77</real>
	<key>4 VG</key>
	<real>13.03</real>
	<key>4 VG + DB</key>
	<real>18.20</real>
	<key>4 VG + BH</key>
	<real>13.88</real>
	<key>4 VG + DB + BH</key>
	<real>19.05</real>
	<key>5 VG</key>
	<real>16.72</real>
	<key>5 VG + DB</key>
	<real>23.48</real>
	<key>5 VG + BH</key>
	<real>17.96</real>
	<key>5 VG + DB + BH</key>
	<real>24.72</real>
	<key>6 VG</key>
	<real>15.35</real>
	<key>6 VG + DB</key>
	<real>22.11</real>
	<key>6 VG + BH</key>
	<real>16.66</real>
	<key>6 VG + DB + BH</key>
	<real>23.42</real>
	<key>7 VG</key>
	<real>22.83</real>
	<key>7 VG + DB</key>
	<real>33.74</real>
	<key>8 VG</key>
	<real>21.02</real>
	<key>8 VG + DB</key>
	<real>27.78</real>
	<key>8 VG + BH</key>
	<real>22.26</real>
	<key>8 VG + DB + BH</key>
	<real>29.02</real>
	<key>1 LVG</key>
	<real>14.15</real>
	<key>2 LVG</key>
	<real>19.08</real>
	<key>3 LVG</key>
	<real>24.43</real>
	<key>4 LVG</key>
	<real>29.94</real>
	<key>5 LVG</key>
	<real>29.94</real>
	<key>1 SGLVG</key>
	<real>39.43</real>
	<key>1 LG</key>
	<real>9.64</real>
	<key>1 LG + DB</key>
	<real>15.46</real>
	<key>2 LG</key>
	<real>14.30</real>
	<key>2 LG + DB</key>
	<real>19.60</real>
	<key>3 LG</key>
	<real>12.08</real>
	<key>3 LG + DB</key>
	<real>17.90</real>
	<key>3 LG + BH</key>
	<real>13.97</real>
	<key>3 LG + DB + BH</key>
	<real>19.79</real>
	<key>4 LG</key>
	<real>14.65</real>
	<key>4 LG + DB</key>
	<real>19.95</real>
	<key>4 LG + BH</key>
	<real>16.58</real>
	<key>4 LG + DB + BH</key>
	<real>21.88</real>
	<key>5 LG</key>
	<real>18.37</real>
	<key>5 LG + DB</key>
	<real>24.19</real>
	<key>5 LG + BH</key>
	<real>20.68</real>
	<key>5 LG + DB + BH</key>
	<real>26.50</real>
	<key>6 LG</key>
	<real>20.57</real>
	<key>6 LG + DB</key>
	<real>25.87</real>
	<key>6 LG + BH</key>
	<real>23.28</real>
	<key>6 LG + DB + BH</key>
	<real>28.58</real>
	<key>7 LG</key>
	<real>23.34</real>
	<key>7 LG + DB</key>
	<real>27.78</real>
	<key>7 LG + BH</key>
	<real>25.79</real>
	<key>7 LG + DB + BH</key>
	<real>30.23</real>
	<key>1 ZG-aud</key>
	<real>11.46</real>
	<key>1 ZG-aud + DB</key>
	<real>18.66</real>
	<key>1 ZG-aud + BH</key>
	<real>12.32</real>
	<key>1 ZG-aud + DB + BH</key>
	<real>19.52</real>
	<key>2 ZG-aud</key>
	<real>27.11</real>
	<key>2 ZG-aud + DB</key>
	<real>36.34</real>
	<key>2 ZG-aud + BH</key>
	<real>28.81</real>
	<key>2 ZG-aud + DB + BH</key>
	<real>38.04</real>
	<key>3 ZG-aud</key>
	<real>32.58</real>
	<key>3 ZG-aud + DB</key>
	<real>43.17</real>
	<key>3 ZG-aud + BH</key>
	<real>34.29</real>
	<key>3 ZG-aud + DB + BH</key>
	<real>44.88</real>
	<key>4 ZG-aud</key>
	<real>19.05</real>
	<key>4 ZG-aud + DB</key>
	<real>26.25</real>
	<key>4 ZG-aud + BH</key>
	<real>20.76</real>
	<key>4 ZG-aud + DB + BH</key>
	<real>27.96</real>
	<key>1 ZG-vis</key>
	<real>6.18</real>
	<key>1 ZG-vis + DB</key>
	<real>12.18</real>
	<key>2 ZG-vis</key>
	<real>11.56</real>
	<key>2 ZG-vis + DB</key>
	<real>16.56</real>
	<key>3 ZG-vis</key>
	<real>15.29</real>
	<key>3 ZG-vis + DB</key>
	<real>20.29</real>
	<key>3 ZG-vis + BH</key>
	<real>16.31</real>
	<key>3 ZG-vis + DB + BH</key>
	<real>21.31</real>
	<key>4 ZG-vis</key>
	<real>20.73</real>
	<key>4 ZG-vis + DB</key>
	<real>27.48</real>
	<key>4 ZG-vis + BH</key>
	<real>22.04</real>
	<key>4 ZG-vis + DB + BH</key>
	<real>28.79</real>
	<key>5 ZG-vis</key>
	<real>23.25</real>
	<key>5 ZG-vis + DB</key>
	<real>29.99</real>
	<key>5 ZG-vis + BH</key>
	<real>24.87</real>
	<key>5 ZG-vis + DB + BH</key>
	<real>31.62</real>
</dict>
</plist>
