<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>VV</string>
	<string>GGZ-B</string>
	<string>GGZ-C</string>
	<string>VG</string>
	<string>LVG</string>
	<string>SGLVG</string>
	<string>LG</string>
	<string>ZG-aud</string>
	<string>ZG-vis</string>
</array>
</plist>
